@import 'styles/colors.scss';

.loadingContainer{
	opacity: 0;
	pointer-events:none;
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	background:$primary;
	color:$white;
	&.loading{
		opacity:1;
	}
}