@import 'styles/colors';

h1{
	font-size:96px;
	font-weight: light;
}

h2{
	font-size:60px;
	font-weight: light;
}

h3{
	font-size:48px;
	font-weight: regular;
}

h4{
	font-size:34px;
	font-weight: regular;
}

h5{
	font-size:24px;
	font-weight: regular;
}

h6{
	font-size:20px;
	font-weight: medium;
}

p{
	font-size:16px;
	font-weight: regular;
}

.p{
	font-size:12px;
	font-weight: regular;
}